<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cities</title>
    <environment names="development">
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"
                asp-fallback-src-include="/lib/jquery/dist/**/*.min.js"
                asp-fallback-test="window.jQuery">
        </script>
    </environment>
    <environment names="staging, production">
        <script asp-src-include="/lib/jquery/dist/**/*.min.js"></script>
    </environment>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="panel-body">
<div>
    <environment names="development">
        <div class="panel-body bg-info"><h2>This is Development</h2></div>
    </environment>
    <environment names="production">
        <div class="panel-body bg-danger"><h2>This is Production</h2></div>
    </environment>
    @RenderBody()
</div>
</body>
</html>